// Basics
body {
	position: relative;
	background: $color-set-3-2;
	background-image: url('//2016.porto.wordcamp.org/files/2016/02/d42ba32b.png');
	background-size: 250px;
	color: $color-set-1;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: $color-set-1-1;

	&:hover {
		color: $color-set-4;
	}
}

.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
}
